#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-container {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #d81b60; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

h2 {
  color: #880e4f;
  margin-bottom: 30px;
  font-family: 'Times New Roman', serif; 
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(216, 27, 96, 0.2);
}

.subject-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.subject-item {
  background-color: #f8bbd0; 
  color: #4a148c;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.subject-item:hover {
  background-color: #f48fb1;
  transform: translateY(-3px);
}